<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalhope">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalHope">
        <activity
            android:name=".FundSinglePostActivity"
            android:exported="true" />
        <activity
            android:name=".TopRaisers"
            android:exported="true" />
        <activity
            android:name=".RaiserProfileManage"
            android:exported="true" />
        <activity
            android:name=".RaiserProfile"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <!-- Chirath -->
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FundPostListActivity" />
        <activity android:name=".PostListActivity" />
        <activity android:name=".EventListActivity"/>
        <activity android:name=".CreateEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SinglePostActivity" />
        <activity android:name=".HopeHomeActivty"/>

        <!--Yohani-->
        <activity android:name=".FundListActivity"/>
        <activity android:name=".CreateFundActivity" />

        <!--Piyumi-->
        <activity
            android:name=".donor_signup"
            android:exported="true" />
        <activity
            android:name=".profilepic"
            android:exported="true" />
        <activity
            android:name=".donor_profile"
            android:exported="true" />
        <activity
            android:name=".donor_profilemanagement"
            android:exported="true" />
        <activity
            android:name=".DonorLogin"
            android:exported="true" />

    </application>

</manifest>